a:hover{
    text-decoration: none !important;
}
a{
    color: black !important;
}

.content-center{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 0px !important;
    background-color: #eaeaea !important;
}
::-webkit-scrollbar-thumb {
    background-color: #47575e !important;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #39484f !important;
}
::-webkit-scrollbar:horizontal{
    height: 0px !important;
}
::-webkit-scrollbar:vertical{
    width: 0px !important;
}
